<!-- Card -->
<div class="card">
  <div class="mt-3" role="alert">
    <h3 class="text-center font-weight-bold">Trang chủ</h3>
  </div>
  <!-- Card body -->
  <div class="card-body">
    <div class="row mt-4">
      <div class="view col-sm-12 col-md-6">
        <div class="slideShow" style="height: 250px;">
          <img src="asset/images/tantien3.jpg" class="img-fluid"  alt="Tan Tien3">
          <img src="asset/images/tantien.jpg" class="img-fluid" alt="Tan Tien1">
          <img src="asset/images/tantien2.jpg" class="img-fluid" alt="Tan Tien2">
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="alert alert-primary text-center blue-gradient text-light">Thông tin cá nhân</div>
        <div class="row">
          <div class="col-4">
            <p class="font-weight-bold">Họ và tên:</p>
            <p class="font-weight-bold">Email:</p>
            <p class="font-weight-bold">SDT:</p>
            <p class="font-weight-bold">MSSV:</p>
            <p class="font-weight-bold">Lớp:</p>
            <p class="font-weight-bold">Môn:</p>
          </div>
          <div id="info-me" class="col-6">
            <p class="text-cut-info"></p>
            <p class="text-cut-info"></p>
            <p class="text-cut-info"></p>
            <p class="text-cut-info"></p>
            <p class="text-cut-info"></p>
            <p class="text-cut-info"></p>
          </div>
        </div>
      </div>
    </div>
<script src="asset/js/js-me/home.js"></script>