<div class="card">
    <div class="container">
        <div class="mt-3" role="alert">
            <h3 class="text-center font-weight-bold">Ảnh đẹp</h3>
        </div>
        <hr class="mt-2 mb-5">
        <a id="showImages" class="btn btn-warning position-absolute" style="right:0">
            <i class="far fa-eye"></i>
        </a>
        <br>
        <div id="images-dblclick" class="row text-center text-lg-left mt-5">

            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4" style="height: 10rem;">
                    <img class="img-fluid img-thumbnail"
                        style="object-fit: cover; height: -webkit-fill-available; width:250px;"
                        src="/asset/images/tantien.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4" style="height: 10rem;">
                    <img class="img-fluid img-thumbnail"
                        style="object-fit: cover; height: -webkit-fill-available; width:250px;"
                        src="/asset/images/tantien2.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4" style="height: 10rem;">
                    <img class="img-fluid img-thumbnail"
                        style="object-fit: cover; height: -webkit-fill-available; width:250px;"
                        src="/asset/images/tantien3.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4" style="height: 10rem;">
                    <img class="img-fluid img-thumbnail"
                        style="object-fit: cover; height: -webkit-fill-available; width:250px;"
                        src="/asset/images/tantien4.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4" style="height: 10rem;">
                    <img class="img-fluid img-thumbnail"
                        style="object-fit: cover; height: -webkit-fill-available; width:250px;"
                        src="/asset/images/tantien9.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4" style="height: 10rem;">
                    <img class="img-fluid img-thumbnail"
                        style="object-fit: cover; height: -webkit-fill-available; width:250px;"
                        src="/asset/images/tantien6.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4" style="height: 10rem;">
                    <img class="img-fluid img-thumbnail"
                        style="object-fit: cover; height: -webkit-fill-available; width:250px;"
                        src="/asset/images/tantien7.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4" style="height: 10rem;">
                    <img class="img-fluid img-thumbnail"
                        style="object-fit: cover; height: -webkit-fill-available; width:250px;"
                        src="/asset/images/tantien11.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4" style="height: 10rem;">
                    <img class="img-fluid img-thumbnail"
                        style="object-fit: cover; height: -webkit-fill-available; width:250px;"
                        src="/asset/images/tantien5.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4" style="height: 10rem;">
                    <img class="img-fluid img-thumbnail"
                        style="object-fit: cover; height: -webkit-fill-available; width:250px;"
                        src="/asset/images/tantien10.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4" style="height: 10rem;">
                    <img class="img-fluid img-thumbnail"
                        style="object-fit: cover; height: -webkit-fill-available; width:250px;"
                        src="/asset/images/tantien8.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4" style="height: 10rem;">
                    <img class="img-fluid img-thumbnail"
                        style="object-fit: cover; height: -webkit-fill-available; width:250px;"
                        src="/asset/images/tantien12.jpg" alt="">
                </a>
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>
<script src="/asset/js/js-me/images.js"></script>