<!-- <div class="alert alert-info mt-3" role="alert">
  <h3 class="text-center font-weight-bold">Đăng nhập</h3>
</div> -->
<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h4 class="card-title text-center">Đăng nhập</h4>
        <form class="form-signin validation" novalidate>
          <div class="form-label-group">
            <input type="Username" id="inputUsername" class="form-control" placeholder="Tài khoản" required autofocus>
            <div class="valid-feedback">
              Khả dụng
            </div>
            <div class="invalid-feedback">
              Không được bỏ trống
            </div>
          </div>
          <br>
          <div class="form-label-group">
            <input type="password" id="inputPassword" class="form-control" placeholder="Mật khẩu" required>
            <div class="valid-feedback">
              Khả dụng
            </div>
            <div class="invalid-feedback">
              Không được bỏ trống
            </div>
          </div>

          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Nhớ</label>
          </div>
          <button class="btn-block text-uppercase btn btn-outline-primary waves-effect" type="submit">Đăng nhập</button>
          <hr class="my-4">
          <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i
              class="fab fa-google mr-2"></i> Đăng nhập với Google</button>
          <br>
          <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i
              class="fab fa-facebook-f mr-2"></i> Đăng nhập với Facebook</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="asset/js/js-me/login.js"></script>